{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div class="container">
    <h1 class="text-primary">Add Work Experience</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img title="profile picture" class="img-circle img-responsive" src="{% thumbnail user.profile.picture|default:'default_profile.png' 140x140 crop %}">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9">
            <form method="post">{% csrf_token %}
                {% crispy workexperience_form %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
