{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" %}
{% endblock %}

{% block container %}

<head>
<link rel="stylesheet" type="text/css" href="">
</head>

<div class="container profile-head" style="background-image: url('../../../static/site/img/profilebackground.jpg'); background-size: contain; width: 90%; opacity: 0.5;">
    <div class="row">
        <div class="col-sm-2"><img title="profile picture" style="margin-left: 40px" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop %}">
    </div>
        <div class="col-sm-10">
            <h1>{{ show_user.get_full_name }}</h1>
            {% if editable %}
                <!-- Looking at your own profile -->
                <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edit Profile</a>
            {% elif connection %}
                {% if connection.pending %}
                    {% ifequal connection.profile1 user.profile %}
                        <!-- Looking at profile you're waiting to connect with -->
                        <div class="btn btn-info disabled">Waiting For Response</div>
                        <a href="{% url 'profiles:revoke' show_user.profile.slug %}" class="btn btn-danger">Revoke Connection</a>
                    {% else %}
                        <!-- Looking at profile that's waiting to connect with you -->
                        <a href="{% url 'profiles:accept' show_user.profile.slug %}" class="btn btn-success">Accept Connection</a>
                        <a href="{% url 'profiles:deny' show_user.profile.slug %}" class="btn btn-danger">Deny Connection</a>
                    {% endifequal %}
                {% else %}
                    <!-- Looking at profile that you're already connected with -->
                    <div class="btn btn-info disabled">Already Connected</div>
                    <a href="{% url 'profiles:remove' show_user.profile.slug %}" class="btn btn-danger">Remove Connection</a>
                {% endif %}
            {% else %}
                <!-- Looking at profile you're not connected with -->
                <a href="{% url 'profiles:connect' show_user.profile.slug %}" class="btn btn-success">Request Connection</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container profile-body">
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item text-muted" style="background-color: #f5f5f5; margin-top:10px;">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Email:</strong></span> {{ show_user.email|default:"missing" }}
            	    {% if show_user.profile.email_verified %}
                	    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" title="This email address has been verified"></span>
                	    <span class="sr-only">Verified</span>
                	{% else %}
                	    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="This email address is not verified"></span>
                	    <span class="sr-only">Not Verified</span>
            	    {% endif %}
            	</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> {{ show_user.date_joined }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> {{ show_user.last_login }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Premium User:</strong></span> {{ show_user.profile.premium_flag }}</li>
            </ul>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading" style="margin-top:10px;">{{ show_user.get_full_name }}'s Profile
                	{% if show_user.profile.slug %}
                	    <a href="{% url 'profiles:show' show_user.profile.slug %}">
            	    	<span class="glyphicon glyphicon-link" aria-hidden="true" title="Profile permalink"></span>
            	    	<span class="sr-only">Permalink</span></a> {{ show_user.profile.get_absolute_url }}
                	{% else %}
                		<a href="https://github.com/arocks/edge/issues/40" target="_blank"><span>No permalink. See this issue.</span></a>
                	{% endif %}
            	</div>
                <div class="panel-body">
                	<strong>Bio</strong>: {{ show_user.profile.bio }}
            	</div>
                <div class="panel-body">
                    <strong>Years Worked</strong>: {{ show_user.profile.work_years }}
            	</div>
                <div class="panel-body">
                    <strong>Degree</strong>: {{ show_user.profile.degree }}
            	</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">{{ show_user.get_full_name }}'s Resume
            	</div>
                <div class="panel-body">
                    {% if show_user.profile.resume %}
                    	<strong>Resume</strong>: <a href='{{ show_user.profile.resume.url }}'>{{ show_user.profile.resume_name }}</a>
                    {% else %}
                        <strong>Resume</strong>: None
                    {% endif %}
            	</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ show_user.get_full_name }}'s Work Experience
                    {% if editable %}
                        <a href="{% url 'profiles:add_work_self' %}">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" title="Add Work Experience"></span>
                	    	<span class="sr-only">Add</span>
                        </a>
                    {% endif %}
            	</div>
                {% if not show_user.profile.workexperience_set.all %}
                    <div class="panel-body">
                            No experience added yet!
                    </div>
                {% endif %}
                {% for w in show_user.profile.workexperience_set.all %}
                    <div class="panel-body">
                        <strong>{{ w.title }}</strong>: {{ w.company }}, {{ w.location }}
                        {% if w.current %}
                            <p>Current Position: Started {{ w.start_date }}</p>
                        {% else %}
                            <p>{{ w.start_date }} - {{ w.end_date }}</p>
                        {% endif %}
                        <p>{{ w.details }}</p>
                        {% if editable %}
                    	    <a href="{% url 'profiles:edit_work_self' w.slug %}">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit Work Experience"></span> <span class="sr-only">Edit</span>
                            </a>
                            <a href="{% url 'profiles:delete_work_self' w.slug %}">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" title="Delete Work Experience"></span> <span class="sr-only">Delete</span>
                            </a>
                        {% endif %}
                	</div>
                {% endfor %}
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ show_user.get_full_name }}'s Skills
                    {% if editable %}
                        <a href="{% url 'profiles:add_skill_self' %}">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" title="Add Skill Experience"></span>
                	    	<span class="sr-only">Add</span>
                        </a>
                    {% endif %}
            	</div>
                {% if not show_user.profile.skillexperience_set.all %}
                    <div class="panel-body">
                            No skills have been added yet!
                    </div>
                {% endif %}
                {% for w in show_user.profile.skillexperience_set.all %}
                    <div class="panel-body">
                        <strong>{{ w.skill_name }}</strong>
                        {% if w.skill_years %}
                            <p>Years Experience: {{ w.skill_years }} <span style="display:inline-block; margin-left: 40px;">Endorsers: {{ w.end_count}}</span></p>
                        {% else %}
                            <p><span style="display:inline-block; margin-left: 155px;">Endorsers: {{ w.end_count}}</span></p>
                        {% endif %}
                        {% if editable %}
                    	    <a href="{% url 'profiles:edit_skill_self' w.slug %}">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit Skill Experience"></span> <span class="sr-only">Edit</span>
                            </a>
                            <a href="{% url 'profiles:delete_skill_self' w.slug %}">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" title="Delete Skill Experience"></span> <span class="sr-only">Delete</span>
                            </a>
                        {% endif %}
                	</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
