{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">Improved networking, for professionals.</p>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>About The Team</h2>
        <p class="lead">From CMPE/SE 133 Section 1, Fall 2016.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h2>Team Ian</h2>
        <p>A team put together from students from Professor Meng's software engineering 2 course, doing their best to create a web application in a single semester in addition to other classes.</p>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock container %}
