{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block container %}


<div class = footer>
    <ul>
        <li>Acounting</li>
        <li>Advertisement</li>
        <li>Automotive</li>
        <li>Construction</li>
        <li>Design</li>
        <li>Education</li>
        <li>Engineering</li>
        <li>Finance</li>
        <li>Food Industry</li>
        <li>Freelance</li>
        <li>Health</li>
        <li>Hospitality</li>
        <li>Insurance</li>
        <li>Journalism</li>
        <li>Labor</li>
        <li>Legal</li>
        <li>Management</li>
        <li>Marketing</li>
        <li>Retail</li>
        <li>Sales</li>
    </ul>
</div>


{% endblock %}