{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="forums" %}
{% endblock %}

{% block container %}
<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />

<br>
<br>
<br>
<br>
<br>

<!--<div class="floated_img">
    <img src="http://i.imgur.com/TmSPtDX.png" width = "150" height = "150" alt="Accounting">
</div> -->
<div class="floated_img">
    <a href = "http://localhost:8000/forums/2/"><img src="http://i.imgur.com/R4dqwLf.png" width = "125" height = "125" alt="Automotive"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/3/"><img src="http://i.imgur.com/FGuDIyS.png" width = "125" height = "125" alt="Construction"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/4/"><img src="http://i.imgur.com/gu0DVTC.png" width = "125" height = "125" alt="Culinary"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/5/"><img src="http://i.imgur.com/XZUQfr3.png" width = "125" height = "125" alt="Design"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/5/"><img src="http://i.imgur.com/ujSOCC9.png" width = "125" height = "125" alt="Education"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/6/"><img src="http://i.imgur.com/QqVeodr.png" width = "125" height = "125" alt="Engineering"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/7/"><img src="http://i.imgur.com/YipqjhO.png" width = "125" height = "125" alt="Finance"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/8/"><img src="http://i.imgur.com/OdRVt5Z.png" width = "125" height = "125" alt="Freelance"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/9/"><img src="http://i.imgur.com/8UHiaAT.png" width = "125" height = "125" alt="Health"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/10/"><img src="http://i.imgur.com/m0j0Tyc.png" width = "125" height = "125" alt="Hospitality"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/11/"><img src="http://i.imgur.com/bgcw4Ce.png" width = "125" height = "125" alt="Insurance"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/12/"><img src="http://i.imgur.com/ymKkkY3.png" width = "125" height = "125" alt="Journalism"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/13/"><img src="http://i.imgur.com/Tm63qDT.png" width = "125" height = "125" alt="Labor"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/14/"><img src="http://i.imgur.com/971luh2.png" width = "125" height = "125" alt="Legal"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/15/"><img src="http://i.imgur.com/GKHkS20.png" width = "125" height = "125" alt="Management"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/16/"><img src="http://i.imgur.com/TQDKYia.png" width = "125" height = "125" alt="Marketing"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/17/"><img src="http://i.imgur.com/Umd1zma.png" width = "125" height = "125" alt="Retail"></a>
</div>
<div class="floated_img">
    <a href = "http://localhost:8000/forums/18/"><img src="http://i.imgur.com/mNdQlsM.png" width = "125" height = "125" alt="Sales"></a>
</div>


{% endblock %}