{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block container %}
<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />

<br>
<br>
<br>
<br>
<br>

<!--<div class="floated_img">
    <img src="http://i.imgur.com/TmSPtDX.png" width = "150" height = "150" alt="Accounting">
</div> -->
<div class="floated_img">
    <img src="http://i.imgur.com/R4dqwLf.png" width = "125" height = "125" alt="Automotive">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/FGuDIyS.png" width = "125" height = "125" alt="Construction">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/gu0DVTC.png" width = "125" height = "125" alt="Culinary">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/XZUQfr3.png" width = "125" height = "125" alt="Design">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/ujSOCC9.png" width = "125" height = "125" alt="Education">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/QqVeodr.png" width = "125" height = "125" alt="Engineering">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/YipqjhO.png" width = "125" height = "125" alt="Finance">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/OdRVt5Z.png" width = "125" height = "125" alt="Freelance">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/8UHiaAT.png" width = "125" height = "125" alt="Health">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/m0j0Tyc.png" width = "125" height = "125" alt="Hospitality">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/bgcw4Ce.png" width = "125" height = "125" alt="Insurance">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/ymKkkY3.png" width = "125" height = "125" alt="Journalism">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/Tm63qDT.png" width = "125" height = "125" alt="Labor">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/971luh2.png" width = "125" height = "125" alt="Legal">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/GKHkS20.png" width = "125" height = "125" alt="Management">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/TQDKYia.png" width = "125" height = "125" alt="Marketing">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/Umd1zma.png" width = "125" height = "125" alt="Retail">
</div>
<div class="floated_img">
    <img src="http://i.imgur.com/mNdQlsM.png" width = "125" height = "125" alt="Sales">
</div>


{% endblock %}