{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}
{% block navbar-left %}
  {% include "_navbar.html" with active_link="forums" %}
{% endblock %}

{% block container %}
<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />

<div class="container">
        <button class='rightButton'>Comment</button>
        <h1> {{ question_value }}</h1>
        <br>
        <div>
                <div>
                        <ul>

                        {% for a in answers %}
                                <div class="card">
                                        <div class="container">
                                <class="qList">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ a }}</class><br>
                                                </div>
                                        </div>
                                <br>
                        {% endfor %}
                                </ul>

        </div>
</div>
{% endblock %}
