{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block container %}

<div class="container">

    <h1> {{question_value }}</h1>
    <a class="btn btn-default" href="{% url 'add_answer_to_question' pk=question.pk %}">Add answer</a>

    {% for a in answers %}
            <div>
                <p>{{ a.answer_text|linebreaks }}</p>
                <div > <strong>{{ a.author }}</strong>
                    {{ a.pub_date}}</div>
            </div>
        {% empty %}
            <p>No answers here yet :(</p>
        {% endfor %}

</div>
{% endblock %}
