{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="forums" %}
{% endblock %}

{% block container %}
<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />

<div class="container">
        <button class='rightButton'>New Question</button>
        <h1> {{ topic_value }}</h1>
        <br>
        <div>

                <div>
                        <ul>
                                {{q}}

                                {% for question in questions %}
                                <div class='card'>
                                        <div class="container">
                                 <a href="{% url 'forums:questions' question.q_topic_id question.id %}" class='qList'>{{ question.question_text }}</li></classa>
                                         <br>
                                </div>
                                        </div>
                                <br>
                                         {% endfor %}

                        </ul>

                </div>


        </div>
</div>
{% endblock %}
