{% extends "accounts/auth_base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block navbar %}
<style>

  .divstyle{
    position: absolute;
    top: 0px;
    height: 60px;
    width: 100%;
    border-width: 0px 1px 4px 1px;
    border-bottom-color: #e7e7e7;
    border-bottom-style: solid;
    background-color: #f8f8f8;

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
  }

  li img {
    position: relative;
    top: 0px;
    margin-top:15px;
    margin-left: 16px;
  }

  li p {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: 0px;
    text-align: justify;
    padding: 12px 10px;
    text-decoration: none;
    color: #000000;
  }

  li a {

    position: absolute;
    top: 0px;
    text-align: justify;
    font-size: 16px;
    color: #999999;
    padding: 14px 20px;
    text-decoration: none;
  }

  li a:hover {
    color: #000;
    text-decoration: none;
  }
</style>
</head>
<body>
<div class="divstyle">
  <ul>
    <li><img src="{% static 'site/img/navbar_logo.png' %}" alt="logo" width="30" height="30"/></li>
    <li><p>Pronet</p></li>
    <li><a class="active" href="/">Home</a></li>
  </ul>
</div>
{% endblock %}


{% block title %}{{ block.super }}Password Reset Done{% endblock %}

{% block form_heading %}Password Reset Email Sent{% endblock %}

{% block form %}
<div class="form-message">
  <p>
    Please check your mail. You would have received a password reset mail from us.
  </p>
</div>
{% endblock form %}

